*.swp
*.pyc
*.iml
venv
virtualenv
Cozy_management.egg-info/
build/
dist/
debian/files
cozy_management.egg-info/
debian/python-cozy-management
debian/python-cozy-management.debhelper.log
debian/python-cozy-management.substvars
debian/debhelper-build-stamp
.ropeproject
.pc/
