*.swp
*.pyc
venv
virtualenv
Cozy_management.egg-info/
build/
dist/
cozy_management.egg-info/
debian/python-cozy-management
debian/python-cozy-management.debhelper.log
debian/python-cozy-management.substvars
.ropeproject
