Source: python-cozy-management
Section: cozy
Priority: optional
Maintainer: Cozy Debian Packaging <debian-packaging@cozycloud.cc>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/cozy/python_cozy_management
Vcs-Git: https://github.com/cozy/python_cozy_management.git

Package: python-cozy-management
Architecture: all
Depends: ${misc:Depends}, python-requests, python-docopt, python-openssl,
	python-psutil, python-pkg-resources
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
