#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@ 
	mkdir -p $(CURDIR)/debian/python-cozy-management/etc/bash_completion.d
	cp $(CURDIR)/bash_completion.cozy_management $(CURDIR)/debian/python-cozy-management/etc/bash_completion.d/cozy_management
